@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*::selection {
    background-color: yellow;
    color: black;
}

* {
    font-family: "Baloo Bhai 2", sans-serif;
}

.segmented8 {
  font-family: "Black Ops One", system-ui;
}
